/* CompetitionDropdown.css */

.dropdown {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #606dbc;
}

select {
  width: 50%;
  padding: 8px;
  font-size: 1rem;
  background-color: #bc7d08;
  color: white;
  border: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* Optional: Add some styling for better visual appearance */
select:hover {
  border-color: #333;
}

select:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(85, 85, 85, 0.5);
}
